<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Report für Archiv __archive</title>
<style>
* {
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 15pt;
  background-color: orange;
  border-radius: 7px;
  box-shadow: -3px -3px 3px silver;
  padding: 7px;
}

h2 {
  font-size: 13pt;
}

h3 {
  font-size: 11pt;
}

li {
  font-family: "Courier New", monospaced;
  font-size: 9pt;
}

</style>
</head>
<body>
	<h1>Report für Archiv __archive</h1>
	<h2>Mehrfach vorkommende Klassen</h2>
	__duplicateClasses
</body>
</html>